@charset "utf-8";
/* CSS Document */


.survey, .results {
	margin:0 auto;
	width:34em;
	display:block;
	text-align:center;
}

.responseblock {
	margin: 0 auto;
	text-align:justify;
	display:inline-block;
	width:34em;
}




.response {
	display:inline-block;
	text-align:justify;
}

.userinput {
	width:5em;
}

#submitButton {
	display:block;
	margin:1em auto;
}

.center {
	margin:0 auto;
	width:60%;
}

#message {
	width:100%;
}