@charset "utf-8";
/* CSS Document */


.survey, .results {
	margin:0 auto;
	width:100%;
	display:block;
	text-align:center;
	max-width:640px;
}

.responseblock {
	margin: 0 auto;
	text-align:justify;
	display:inline-block;
}




.response {
	display:inline-block;
	text-align:justify;
}

.userinput {
	width:5em;
}

#submitButton {
	display:block;
	margin:10px auto;
}

.center {
	margin:0 auto;
	width:60%;
}

#message {
	width:100%;
}