@charset "utf-8";
/* CSS Document */

.maindiv {
	padding-left:50px;
	padding-right:50px;
	display:compact;
	width:600px;
	margin-left:auto;
	margin-right:auto;
	height:100%;
}

#usertype {
	text-align:center;
}

#submitButton {
	margin-left:auto;
	margin-right:auto;
	display:block;
}
	
