@charset "utf-8";
/* CSS Document */

.maindiv {
	padding-left:50px;
	padding-right:50px;
	width:600px;
	margin-left:auto;
	margin-right:auto;
	height:100%;
	display:table;
}

.maindiv div {
	display:table-row-group;
}

.maindiv div div {
	display:table-row;
	width:inherit;
}

.maindiv div div div {
	display:table-cell;
}
	
#submitButton {
	margin-left:auto;
	margin-right:auto;
	display:block;
}

.userinput {
	width:50px;
}

